<%- include("../partials/header.ejs") %>


<div class="main-container container">
	<h1 class="main-header"><em><%= blog.title %></em></h1>
	<hr class="hr-text" data-content="Written by <%= blog.author.username %>">
	<img class="blog-image" src="<%= blog.image %>">
	<hr class="divider">
	<div class="content">
		<div class="description">
			<p><%- blog.content %></p>
		</div>
		<div class="extra">
			<strong>Written by: <%= blog.author.username %></strong>
		</div>
		<div class="extra">
			<strong>Time posted: <%= moment(blog.timeCreated).format("DD-MM-YYYY, LT") %></strong>
		</div>
		<br>
		<% if (currentUser && blog.author.id.equals(currentUser._id)) { %>
		<div>
			<a class="ui positive small button" href="/blogs/<%= blog._id %>/edit">Edit post</a>
			<!-- Need to use a form with _method=DELETE in order to override the POST method -->
			<form id="delete-form-button" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class="ui small negative button">Delete Post</button>
			</form>
		</div>
		<% } %>
		<!-- COMMENTS SECTION -->
		<hr class="hr-text" data-content="Comments">
		<div class="comments-list">
			<% for (let i = 0; i < blog.comments.length; i++) { %>
				<div class="media">
					<a class="media-left" href="#">
						<img class="user-avatar" src="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png">
					</a>
					<div class="media-body">
						<h4 class="media-heading user_name"><%= blog.comments[i].author.username %></h4>
						<%= blog.comments[i].text %>
						<p><small>
							Time posted: <%= moment(blog.comments[i].timeCreated).format("DD-MM-YYYY LT") %>
							<br>
							<a href="">Like</a> - <a href="">Share</a>
						</small></p>
					</div>

					<% if (currentUser && blog.comments[i].author.id.equals(currentUser._id)) { %>
						<div>
							<a class="btn" href="/blogs/<%= blog._id %>/comments/<%= blog.comments[i]._id %>/edit">Edit Comment</a>
							<!-- Need to use a form with _method=DELETE in order to override the POST method -->
							<form action="/blogs/<%= blog._id %>/comments/<%= blog.comments[i]._id %>?_method=DELETE" method="POST">
								<button class="btn">Delete Post</button>
							</form>
						</div>
					<% } %>
				</div>
			<% } %>
		</div>
		<div>
			<a href="/blogs/<%= blog._id %>/comments/new">Add Comment</a>
		</div>
	</div>
</div>





<%- include("../partials/footer.ejs") %>