<%- include("../partials/header.ejs") %>

<!-- Displaying the flash message, if it exists -->
	<!-- 
		We need the condition: && errorMessage.length > 0 
		because an empty array [] is still a truthy value
	-->


<div class="main-container wider-container padded-container container">
	<% if (errorMessage && errorMessage.length > 0) { %>
		<div class="container flash-container">
			<div class="alert alert-primary">
				<%= errorMessage %>
			</div>
		</div>	
	<% } else if (successMessage && successMessage.length > 0) { %>
		<div class="container flash-container">
			<div class="alert alert-secondary">
				<%= successMessage %>
			</div>
		</div>
	<% } %>
	<div class="jumbotron">
		<div class="center-children">
			<h1 class="main-header">Developer Blogs</h1>
			<p>A compilation of things we've learned, amazing libraries and reasons to love building software applications <i class="fas fa-hand-holding-heart"></i> </p>  
			<p>Work in progress!</p>
		</div>
	</div>
	<hr class="divider"> 
    <div class="row">
        <div class="col-lg-8 col-md-12">
			<!-- Blog Posts -->
			<% if (blogs.length < 1) { %>
				<div class="center-children">
					<div class="jumbotron">
						No blogs were found <i class="fas fa-sad-tear"></i>
					</div>
				</div>
			<% } %>
			<div class="row">
				<% for (let i = 0; i < blogs.length; i++) { %>     
					<div class="col-xl-6 col-lg-12">
						<div class="card blog-card mb-4">  
							<a href="/blogs/<%= blogs[i]._id %>"><img class="card-img-top" src="<%= blogs[i].image %>" alt="Card image cap"></a>
							<div class="card-body">
								<div class="item">
									<div class="content">
										<a class="header" href="/blogs/<%= blogs[i]._id %>">
											<h2 class="card-title"><%= blogs[i].title %></h2>
										</a>
										<hr class="divider inverted">
										<p class="card-text">
											<%- blogs[i].content.substring(0, 250) %>... <a href="/blogs/<%= blogs[i]._id %>">Read more</a>
										</p>
									</div>
								</div>
							</div>
							<div class="card-footer">
								
								<strong>Author:</strong> <a href="#"><%= blogs[i].author.username %></a>
									<br>
								<strong>Time posted:</strong> <%= moment(blogs[i].timeCreated).tz('Australia/Sydney').format("DD-MM-YYYY") %>
							</div>
						</div> 
					</div>
				<% } %>   
				
			</div>
            
            <!-- Pagination for my blogs -->
            <nav aria-label="Page navigation">
				<% if (pages && pages > 0) { %>
					<ul class="pagination justify-content-center">
						<!-- Setting up the << arrow and 'First' page button -->
						<% if (current == 1) { %>
							<li class="page-item disabled"><a class="page-link">First</a></li>
							<li class="page-item disabled"><a class="page-link">«</a></li>
						<% } else { %>
							<% if (!searchTarget) { %>
								<li><a class="page-link" href="/blogs">First</a></li>
								<li><a class="page-link" href="/blogs?page=<%= Number(current) - 1 %>">«</a></li>
							<% } else { %>
								<li><a class="page-link" href="/blogs">First</a></li>
								<li><a class="page-link" href="/blogs?page=<%= Number(current) - 1 %>&searchTarget=<%= searchTarget %>">«</a></li>
							<% } %>
						<% } %>
						<!-- Setting up the numbers: currPage, currPage + 1, ..., currPage + 3 -->
						<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
						<% if (i !== 1) { %>
							<li class="page-item disabled"><a class="page-link">...</a></li>
						<% } %>
						<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
							<% if (i == current) { %>
								<% if (!searchTarget) { %>
									<li class="active"><a class="page-link"><%= i %></a></li>
								<% } else { %>
									<li class="active"><a class="page-link"><%= i %></a></li>
								<% } %>
							<% } else { %>
								<% if (!searchTarget) { %>
									<li><a class="page-link" href="/blogs?page=<%= i %>"><%= i %></a></li>
								<% } else { %>
									<li><a class="page-link" href="/blogs?page=<%= i %>&searchTarget=<%= searchTarget %>"><%= i %></a></li>
								<% } %>
							<% } %>
		
							<% if (i == Number(current) + 4 && i < pages) { %>
								<li class="page-item disabled"><a class="page-link">...</a></li>
							<% } %>
						<% } %>
				
						<!-- Setting up the >> arrow and 'Last' page button -->
						<% if (current == pages) { %>
							<li class="page-item disabled"><a class="page-link">»</a></li>
							<li class="page-item disabled"><a class="page-link">Last</a></li>
						<% } else { %>
							<% if (!searchTarget) { %>
								<li><a class="page-link" href="/blogs?page=<%= Number(current) + 1 %>">»</a></li>
								<li><a class="page-link" href="/blogs?page=<%= pages %>">Last</a></li>
							<% } else { %>
								<li><a class="page-link" href="/blogs?page=<%= Number(current) + 1 %>">»</a></li>
								<li><a class="page-link" href="/blogs?page=<%= pages %>&searchTarget=<%= searchTarget %>">Last</a></li>
							<% } %>
						<% } %>
				
						<!-- <% if (current == pages) { %>
							<li class="page-item disabled"><a class="page-link">Last</a></li>
						<% } else { %>
							<li><a class="page-link" href="/blogs?page=<%= pages %>">Last</a></li>
						<% } %> -->
					</ul>
				<% } %>
			</nav>
        </div>
        <div class="col-lg-4 col-md-12">
				
			
			<!-- Search Widget -->
			<div class="d-flex justify-content-center">
				<form action="/blogs" method="GET">
					<div class="searchbar">
						<input class="searchInput" type="text" name="searchTarget" placeholder="Search blogs..." required>
						<button class="search_icon"><i class="fas fa-search"></i></button>
					
					</div>
				</form>
			</div>
			<!-- <div class="row">
				<div class="col-lg-6">
					<button type="button" class="close" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div> -->		
			
            <!-- Categories Widget -->
            <div class="card my-4">
				<div class="center-children">
					<h5 class="card-header">Categories</h5>
				</div>
				<div class="card-body">
					<div class="row">
					<div class="col-lg-6 center-children">
						<ul class="list-unstyled mb-0">
							<li>
								<a href="#">HTML</a>
							</li>
							<li>
								<a href="#">CSS</a>
							</li>
							<li>
								<a href="#">JavaScript</a>
							</li>
							<li>
								<a href="#">Game Dev</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-6 center-children">
						<ul class="list-unstyled mb-0">
						<li>
							<a href="#">C#</a>
						</li>
						<li>
							<a href="#">Python</a>
						</li>
						<li>
							<a href="#">C</a>
						</li>
						</ul>
					</div>
					</div>
				</div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
				<a class="btn btn-secondary center-element" href="/blogs/new">Create a new blog</a> 
				
            </div>
		</div>
    </div> 
</div>

<%- include("../partials/footer.ejs") %>