<%- include("../partials/header.ejs") %>

<div class="main-container container">
    <div class="center-children">
        <h1 class="main-header"><em><%= plantData.title %></em></h1>
        <hr class="hr-text" data-content="Posted on <%= moment(plantData.timeCreated).format("MMMM Do") %>">
        <img class="snapshot-image-large" src="<%= '../' + plantData.imgPath %>">
    </div>
    <hr class="hr-text" data-content="Plant Data">
    <div class="ui items">
        <div class="item">
            <div class="content">
                <div class="description">
                    <p>
                        <%- plantData.content %>
                    </p>
                    <p>
                        Snapshot Time: <em><%= moment(plantData.timeCreated).format("MMMM Do, YYYY, h:mm:ss A") %></em>
                    </p>
                </div>
                <% if (currentUser) { %>
                    <div>
                        <form action="/hydroponix/<%= plantData._id %>?_method=DELETE" method="POST">
                        <button class="ui large negative button">Delete Data Snapshot</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

</div>


<%- include("../partials/footer.ejs") %>