<%- include("../partials/header.ejs") %>

 
        

<div class="main-container wider-container padded-container container">
    <div class="jumbotron">
        <div class="center-children"> 
            <h1 class="main-header">Hydroponix Data Snapshots</h1> 
            <hr class="divider">
            <h1 class="main-header"><i class="fa fa-tree"></i></h1>
            <h5><a href="https://github.com/Tymotex/Hydroponix">View project on GitHub</a></h5>
            <h3>See all the data snapshots below</h3> 
        </div>   
    </div>     

    <!-- Nested bootstrap grid -->
    <div class="row">
        <% for (let i = 0; i < plantData.length; i++) { %>      
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card hydroponix-card">
                    <a href="<%= '/hydroponix/' + plantData[i]._id %>">
                        <img class="card-img-top" src="<%= '../' + plantData[i].imgPath %>">
                    </a>
                    <div class="card-body">
                        <div class="center-children">
                            <a href="<%= '/hydroponix/' + plantData[i]._id %>">
                                <h3><%= plantData[i].title %></h3>
                            </a>
                        </div>
                        <p class="card-text">
                            <strong>Summary: </strong><%- plantData[i].content.substring(0, 75) %>... <a href="<%= '/hydroponix/' + plantData[i]._id %>">Read more</a>
                        </p>
                        <p class="card-text">
                            <strong>Time: </strong> <%= moment(plantData[i].timeCreated).tz('Australia/Sydney').format("MMMM Do, YYYY, h:mm:ss A") %>
                        </p>
                        <!-- <div class="center-children">
                            <a href="<%= '/hydroponix/' + plantData[i]._id %>" class="btn btn-primary">View Details</a>
                        </div> -->
                    </div>
                </div>
                <hr>
            </div>
        <% } %>
    </div>
    <!-- Pagination for my snapshots -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Newer</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#"> Older&rarr;</a>
        </li>
    </ul>
</div>



<%- include("../partials/footer.ejs") %>