<%- include("../partials/header.ejs") %>
<div class="blogMainBody">
    <div id="viewBlogContainer" class="blogContainer ui piled segment">
        <div class="blogMainBody">
            <div id="viewBlogContainer" class="blogContainer ui piled segment">
                <h1>Edit Comment</h1>
                <form action="/blogs/<%= blogID %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                    <div class="ui form segment">
                        <div class="field">
                            <label>Comment</label>
                            <textarea name="comment[text]" placeholder="Comment" required><%= comment.text %></textarea>
                        </div>
                        <button class="ui primary button">Submit</button>
                        <a class="ui button" href="/blogs/<%= blogID %>">Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>