<%- include("../partials/header.ejs") %>




<div class="main-container container">
    <div class="center-children">
        <h1>Edit Comment</h1>
    </div>
    <hr class="divider">
    <form action="/blogs/<%= blogID %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="ui form segment">
            <div class="form-label-group">
                <label for="input-comment">Your Comment:</label>
                <textarea id="input-comment" class="form-control" name="comment[text]" placeholder="Comment" required autofocus><%= comment.text %></textarea>
            </div>
        </div>
        <hr class="divider">
        <div class="center-children">
            <a class="btn btn-secondary centered-element" href="/blogs/<%= blogID %>">Return</a>
            <button class="btn btn-primary centered-element">Submit</button>
        </div>
    </form>
</div> 

<%- include("../partials/footer.ejs") %>