<%- include("../partials/header.ejs") %>

<div class="blogMainBody">
    <div id="viewBlogContainer" class="blogContainer ui piled segment">
        <h1>Add a New Comment On "<%= blog.title %>"</h1>
        <form action="/blogs/<%= blog._id %>/comments" method="POST">
            <div class="ui form segment">
                <div class="field">
                    <label>Comment</label>
                    <textarea name="comment[text]" required></textarea>
                </div>
                <button class="ui primary button">Submit</button>
                <a class="ui button" href="/blogs/<%= blog._id %>">Return</a>
            </div>
        </form>
    </div>
</div>
<%- include("../partials/footer.ejs") %>