<%- include("../partials/header.ejs") %>

<div class="blogContainer ui piled segment">
    <h1>Add a New Comment On "<%= blog.title %>"</h1>
    <form action="/blogs/<%= blog._id %>/comments" method="POST">
        <div class="ui form segment">
            <div class="field">
                <label>Author</label>
                <input class="newBlogInputs" type="text" name="comment[author]" placeholder="Author" required>
            </div>
            <div class="field">
                <label>Comment</label>
                <textarea name="comment[text]" required></textarea>
            </div>
            <button class="ui primary button">Submit</button>
            <a class="ui button" href="/blogs/<%= blog._id %>">Return</a>
        </div>
    </form>
</div>

<%- include("../partials/footer.ejs") %>